*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
    *, *:after, *:before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
html {
    font-size: 100%;
    line-height: 1.5;
}
body {
    scrollbar-gutter: stable;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.08ch;
    word-spacing: 0.24ch;
}
/* Fallbacks & Display for HTML5 Elements */
blockquote, details, summary, section, div, dl, dt, dd, figcaption, figure, h1, h2, h3, h4, h5, h6, img, p, picture {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
}
img, picture {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
section, article, aside, details, figure, figcaption, header, main, footer, hgroup, menu, nav {
    display: block;
    width: 100%;
}
summary h2, summary h3, summary h4, summary h5, summary h6 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
ol[class], ul[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Form Styles */
form {
    display: block;
}
fieldset {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}
legend {
    font-weight: bold;
}
::file-selector-button, button, input, select, textarea {
    margin: 0;
    padding: 2px;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}
input[type="file"] {
    margin: 0;
    padding: 0;
    border: 0;
}
input:user-invalid {
    border-color: red;
}
input:user-valid {
    border-color: green;
}
[type="reset"], [type="button"], [type="submit"], [type="radio"], [type="checkbox"], ::file-selector-button, button, select, summary {
    cursor: pointer;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
