@import url('/wcc/styles/fontInter.css');

.kj {font-family: 'Inter'; width:1000px; height:auto; margin:auto;text-align:center;font-weight:bold;display:flex;flex-wrap:wrap;}
.kt {font-family: 'Inter'; display:block; text-align:center; background: url(https://beechface.github.io/wcc/sig/Snickerdoodle.png);background-size: cover;flex-basis: 100%;width: 1000px;height: 320px;flex-grow: 1;}
.kb {font-family: 'Inter'; display:block; text-align:center; width: 1000px; flex-grow: 1;}

.kj .fl {font-weight:normal;width:calc(1000px / 7);}

.fl span:first-of-type {display:block; font-weight:bold;}

.smokefeather {color: #427057; --accent: #427057;}
.beechfang, .b {color: #6e8c0a; --accent: #6e8c0a; --img: url("https://wallpapercave.com/wp/ZuCcfrF.jpg");}
.mistyfalcon, .m {color: #1944c1; --accent: #1944c1;}
.nighthawk {color: #d15c2a; --accent: #d15c2a;}
.eosphoros {color: #5c563d; --accent: #5c563d;}
.birdsong, .bs {color: #5bbd75; --accent: #5bbd75;}
.swiftspirit, .s {color: #52c4c2; --accent: #52c4c2;}
.featherfrost {color: #1697ce; --accent: #1697ce;}
.brackenwing, .bw {color: #702fd8; --accent: #702fd8; --img: url("https://images8.alphacoders.com/109/1092314.jpg");}
.whitesnake {color: #d5983b; --accent: #d5983b;}
.harechaser, .h {color: #3c9613; --accent: #3c9613;}
.wolfblossom, .w {color: #a0c8e6; --accent: #a0c8e6; --img: url("https://eskipaper.com/images/frozen-forest-wallpapers-2.jpg");}
.stoneheart, .sh {color: #616d87; --accent: #616d87;}
.flamegaze {color: #d36702; --accent: #d36702;}
.moondancer, .md {color: #80a395; --accent: #80a395;}
.graywind, .g {color: #c99700; --accent: #c99700; --img: url("https://images6.alphacoders.com/835/835303.jpg");}
.aurelia, .a {color: #b2c667; --accent: #b2c667;}

/****************
POSTING TEMPLATE
*****************/
.kj_postwrap {
  margin: 0 auto;
  width: 750px;
  border-radius: 4px;
  background: #222222;
  padding-top:30px;
}

.kj_postwrap h2 {text-align: center;border-bottom: 1px solid CurrentColor; margin: 0 50px; margin-bottom: 20px; padding-bottom: 20px;}

.kj_postfoot_img {
  height: 300px;
  background-image: var(--img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.kj_postfoot_grad {
  margin-top: -300px;
  height: 300px;
  background: #435138;
  background: linear-gradient(#222, transparent);
}

.kj_lyrics {
  font-family: georgia;
  position: relative;
  bottom: -50%;
  text-align: center;
  color: #ceced7;
  text-transform: uppercase;
}

.kj_posttext {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 1.5;
  padding: 30px 50px;
  color: #ceced7;
  white-space: pre-line;
}

.kj_posttext b, .kj_posttext strong, .kj_posttext i, .kj_lyrics b, .kj_postooc b {color: var(--accent);}

.kj_posthead, .kj_postooc {
  font-family: 'Inter';
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
  color: #ceced7;
}

.kj_posthead .dot {
  margin: 0 25px;
  color: var(--accent);
}
