@import url('https://rsms.me/inter/inter.css');

.kj, .kt, .kb {font-family: Inter, sans-serif; font-feature-settings: 'liga' 1, 'calt' 1, 'cv03' 1, 'cv04' 1, 'cv05' 1;}
@supports (font-variation-settings: normal) {
  .kj, .kt, .kb {font-family: InterVariable, sans-serif; font-variation-settings: 'liga' 1, 'calt' 1, 'cv03' 1, 'cv04' 1, 'cv05' 1;}
}

.kj {width:1000px; height:auto; margin:auto;text-align:center;font-weight:bold;display:flex;flex-wrap:wrap;}
.kt {display:block; text-align:center; background: url(https://beechface.github.io/wcc/sig/Kiikko.PNG) center center no-repeat;background-size: cover;flex-basis: 100%;width: 1000px;height: 450px;flex-grow: 1;}
.kb {display:block; text-align:center; width: 1000px; flex-grow: 1;}

.kj .fl {font-weight:normal;color:#111;width:calc(1000px / 7);}

.kj .fl span:first-of-type {display:block; font-weight:bold;}

.smokefeather {color: #427057; --accent: #427057;}
.beechfang, .b {color: #6e8c0a; --accent: #6e8c0a;}
.mistyfalcon, .m {color: #1944c1; --accent: #1944c1;}
.nighthawk {color: #d15c2a; --accent: #d15c2a;}
.eosphoros {color: #5c563d; --accent: #5c563d;}
.birdsong, .bs {color: #5bbd75; --accent: #5bbd75;}
.swiftspirit, .s {color: #52c4c2; --accent: #52c4c2;}
.featherfrost {color: #1697ce; --accent: #1697ce;}
.brackenwing, .bw {color: #702fd8; --accent: #702fd8;}
.whitesnake {color: #d5983b; --accent: #d5983b;}
.harechaser, .h {color: #3c9613; --accent: #3c9613;}
.wolfblossom, .w {color: #a0c8e6; --accent: #a0c8e6;}
.stoneheart, .sh {color: #616d87; --accent: #616d87;}
.flamegaze {color: #d36702; --accent: #d36702;}
.moondancer, .md {color: #80a395; --accent: #80a395;}
.graywind, .g {color: #c99700; --accent: #c99700;}
.aurelia, .a {color: #b2c667; --accent: #b2c667;}
.swandive, .sw {color: #0881ab; --accent: #0881ab;}
.briarpatch, .bp {color: #867b6b; --accent: #867b6b;}
.honeybee, .hb {color: #ff4732; --accent: #ff4732;}
.cloudjumper, .c {color: #a45ee9; --accent: #a45ee9;}
.asteria, .as {color: #1697ce; --accent: #1697ce;}
