@import url('/wcc/styles/fontInter.css');

:root {
	--content-width: 90vw;
	--rounded: 4px;
	font-family: 'Inter';
}

@media (prefers-color-scheme: light) {
	:root {
		--accent: 74, 154, 191;
		--bg-main: #efefef;
		--bg-content: #dedede;
		--bg-content-hover: #e7e7e7;
		--txt-main: #010101;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: 98, 205, 254;
		--bg-main: #101010;
		--bg-content: #212121;
		--bg-content-hover: #292929;
		--txt-main: #fefefe;
	}
}

@media (max-width: 900px) {
	:root {
		--content-width: 100vw;
	}
}

body {
	background: var(--bg-main);
	color: var(--txt-main);
	--accent-solid: rgb(var(--accent));
}

a {
	font-weight: normal;
	color: var(--accent-solid);
}

.smokefeather {--accent-solid: #427057;}
.beechfang {--accent-solid: #6e8c0a;}
.mistyfalcon {--accent-solid: #1944c1;}
.nighthawk {--accent-solid: #d15c2a;}
.eosphoros {--accent-solid: #5c563d;}
.birdsong {--accent-solid: #5bbd75;}
.swiftspirit {--accent-solid: #52c4c2;}
.featherfrost {--accent-solid: #1697ce;}
.brackenwing {--accent-solid: #702fd8;}
.whitesnake {--accent-solid: #d5983b;}
.harechaser {--accent-solid: #3c9613;}
.wolfblossom {--accent-solid: #a0c8e6;}
.stoneheart {--accent-solid: #616d87;}
.flamegaze {--accent-solid: #d36702;}
.moondancer {--accent-solid: #80a395;}
.graywind {--accent-solid: #c99700;}
.aurelia {--accent-solid: #b2c667;}
.swandive {--accent-solid: #0881ab;}

header, main, footer {
	width: var(--content-width);
	margin: 0 auto;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	min-width: max-content;
	position: relative;
}
nav ul li ul {
	height: 0;
	min-width: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 100%;
	visibility: hidden;
	overflow: hidden;
}
nav ul li:hover ul,
nav ul li:focus-within ul { 
	visibility: visible;
	height: auto;
	z-index: 2;
}
nav ul li ul li {
	display: block;
	margin: 2px;
}
nav ul li a,
nav ul li ul li a {
	display: block;
	padding: .4rem .6rem;
	border-radius: var(--rounded);
	background: var(--bg-content);
	text-decoration: none;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: var(--bg-content-hover);
}

section {
	margin: 1.5em auto;
	padding: .5rem 2rem;
	border-radius: var(--rounded);
	background: var(--bg-content);
}

details {
	margin: 1em auto;
	border-radius: var(--rounded);
}

h1 {
	margin: 0 auto;
	padding: 1rem 1.5rem;
	font-size: 1.7rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.3rem;
}
h4 {
	font-size: 1.15rem;
}

p {
	margin: 1rem auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	place-items: center;
}
.flex figure {
	flex: 0 1 150px;
	padding: .4rem;
	margin: .5rem 1rem;
}
.flex figure > a,
.flex figure figcaption {
	display: block;
}
.flex figure a img {
	height: auto;
	width: 100%;
}
.flex figure figcaption {
	padding: .625rem .5rem;
}

/* 16 Personalities Recreation */
.trait {display: flex; place-items: center; margin: .5rem;}

.mind {--accent: #4298b4;}
.energy {--accent: #e4ae3a;}
.nature {--accent: #33a474;}
.tactics {--accent: #88619a;}
.identity {--accent: #f25e62;}

.bar {display:flex; flex-direction: column; border-radius: 10px; width: 100px; height: 7px; background: rgba(0 0 0 / .1); margin: 0 .7rem;}

.label {width: 10rem; text-align: center;}
.label.active {width: 10rem; color: var(--accent);}
.fill {background: var(--accent); height: 100%;}

.extraverted, .intuitive, .thinking, .judging, .assertive {left: 0; border-radius: 10px 0 0 10px; place-self: flex-start;}
.introverted, .observant, .feeling, .prospecting, .turbulent {right: 0; border-radius: 0 10px 10px 0; place-self: flex-end;}
